/* Vanlig CSS */
body {
    font-family: Century Gothic;
    margin: 0;
    overflow-x: hidden;
}

/* Navbar og header */
header {
    display: flex;
}

.Navbar2 {
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    padding: 1%;
}

.Navbar2 h3 {
    color: white;
    font-size: 1.5rem;


}

.Navbar2 img {
    width: 9vh;
    margin-left: 30px;
}

.Navbar {
    background-color: black;
    width: 100%;
}

.Navbar h3 {
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.NavbarText {
    display: flex;
    justify-content: center;
    gap: 90px;

}

.Navbar2 {
    display: flex;
    justify-content: start;
    gap: 300px;
}

.Navbar2 a {
    text-decoration: none;
}

.NavbarText a {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

/* Content */

.Title {
    font-size: 1.9rem;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 360px;
}

.Content {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.Content2 {
    display: flex;
    flex-direction: column;
    justify-content: right;

}

.BigContent2 {
    display: flex;
    justify-content: center;
    gap: 8%;
    margin-top: 8%;
}

.BildeContent2 {
    position: relative;
}

.BildeContent2 img {
    height: 400px;
    width: 400px;
}

.Salg {
    position: absolute;
    text-align: center;
    top: -50px;
    right: 16px;
    background-color: black;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    width: 100px;
}

.ButtonsContent2 {
    display: flex;
    gap: 30%;
}

.ButtonsContent2 button {
    border-radius: 10px;
}

.Content2 button {
    width: 20vh;
    height: 7vh;
}



svg {
    width: 30px;
}



.leftnotify {
    display: flex;
    justify-content: right;
    /*justify content flytter på innhold på bpksen og derfor må være på boksen rundt, 
    vi lagde denne nye diven for å flytte den røde span til høyre.  */

    width: 120%;
}




/* Produkter */
.ProduktPris2 h3 {
    font-size: 2rem;
}

.rabatt {
    text-decoration: line-through;
    font-size: 1.5rem;
}

.produkter {
    display: flex;
    justify-content: center;
    gap: 100px;

}

#Ad2 {
    height: 50%;
    width: 40%;
    border: solid;
    border-radius: 10px;
    margin-top: 65px;
    margin-left: 70px;
}

.ProduktRow .item img {
    width: 20vh;
    filter: drop-shadow(0 50px 70px);
    height: 21vh;
}


.ProduktRow {
    display: grid;
    /*det den gjør, er at den lager et usynlig rutenett bakgrunn på nettsiden,
     disse rutene består av rader og kolloner.*/

    grid-template-columns: repeat(4, 1fr);
    /*dette er for å beskrive bredden på hver kolonne,
     her kan du se at jeg har brukt 2 kolonner. 
    første kolonne tar 1 frakjson (en del av noe),
     mens den andre tar 2 kolonner. */
    gap: 5%;
    margin-bottom: 20px;

}

.ProduktRow .item {
    background-color: #ffe5c4;
    padding: 20px;
    /*legger til ekstra space inni elementen eller boksen,
    for eksempel hvis du har en boks og du legger til padding 10px, betyr
    det at vil være 10 ekstra piksler på alle sider.*/
    border-radius: 20px;
}

.ProduktRow .item:hover {
    filter: drop-shadow(5px 5px 5px);
    transform: scale(1.05);
    transition: 0.3s;
}



.ProduktRow .item h2 {
    font-size: large;
}

.ProduktRow .item .Pris {
    letter-spacing: 7px;
    font-size: small;
}

.ProduktRow .item .LeggKurv {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    /* Gjør at den oppfører seg som både en blokk og en linje, for eksempel med a-tag så puttet vi dem i samme linje som produktrow. */
}

.item button:hover {
    cursor: pointer;
}


.ProduktInfo {
    border: 2.5px solid;
    padding: 1%;
    border-radius: 7px;
}

.ProductButton button {
    margin-top: 4vh;
    background-color: white;
    color: black;
    font-size: 1.2rem;
}

.ProductButtonWhite button {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    height: 25px;
    width: 80px;
}

.ProduktNavn2 {
    font-size: 1.5rem;
}

.ProductButtonWhite :hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

.ProductButton :hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

.ProductButtonWhite input {
    height: 40px;
    border-radius: 9px;
    margin-top: 4vh;
}

.Kasse {
    margin-left: 70px;
    border: solid 2px;
    border-radius: 8px;
    width: 89%;
    margin-top: 70px;

}

.Kasse h1 {
    margin-left: 20px;
}

.Kasse img {
    border: solid 2px;
    border-radius: 9px;
    /* margin-left: 20px;
    margin-bottom: 20px; */
}

.KasseTop {
    display: flex;
    justify-content: left;
}

.KasseInfo {
    display: flex;
    justify-content: center;
}

.KasseInfo h2 {
    margin: 30px;
}

.Sum {
    margin-left: 70px;
    border: solid 2px;
    border-radius: 7px;
    width: 89%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.Sum button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;

}

.Betaling {
    display: flex;
    justify-content: right;
    margin-top: 70px;
    flex-direction: column;

}

.Betalingsmåte {
    border: solid 2px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;

}

.Betalingsmåte button {
    width: 250px;
    height: 50px;
    border: none;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-family: Century Gothic;

}

.Info {
    border: solid 2px;
    height: 31vh;
    border-radius: 5px;
    width: 300px;
    margin-left: 70px;
}

.Info h1 {
    margin-left: 100px;
}


.Info h2 {
    border: solid;
    margin-left: 55px;
    width: 184px;
    border-radius: 5px;
}

.Info h3 {
    margin-left: 80px;
    width: 180px;
    border-radius: 5px;
}

.Info input {
    margin-left: 55px;
    width: 180px;
    border-radius: 5px;
    height: 40px;

}

.footer {
    background-color: black;
    color: white;
    margin-top: 40px;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    gap: 30%;
}

.footer a {
    margin-left: 15%;
    text-decoration: none;
    color: white;
}

.column1 {
    display: flex;
    flex-direction: column;
    gap: 7%;
    margin-top: 2%;
    margin-left: 10%;
}

.column2 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 2%;
}

.container {
    display: flex;
    flex-direction: row;
}

/* Media query for mobil */

@media (max-width: 600px) {

    /*En media query er en måte
     å få en nettside til å tilpasse seg forskjellige skjermstørrelser.*/

    /*Bruk stilene inne i denne blokken kun hvis skjermen er 600 piksler bred eller mindre.*/


    /*Navbar*/

    #Ad2 {
        height: 70vh;
    }

    .Navbar2 {
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 10px;
    }

    .logo {
        background-color: rgb(0, 0, 0);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 10px;
        width: 100vw;
    }

    .Navbar2 img {
        margin-left: 0;
    }

    .Navbar2 a {
        background-color: black;
        width: 250px;
        height: 50px;
        border: none;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-family: Century Gothic;
        justify-content: center;
    }

    .NavbarText {
        flex-direction: column;
        /*flex-direction: column gjør at elementene i en beholder
         (container) plasseres oppå hverandre,
          som en kolonne.*/

        gap: 10px;
        padding-top: 20px;
    }

    header {
        justify-content: center;
    }

    .header h2 {
        justify-content: center;
    }

    /*Navbar*/


    /*Content*/

    .Title {
        margin-left: 0;
        text-align: center;
    }

    .Content {
        width: 100%;
        padding: 10px;
    }

    .BigContent2 {
        flex-direction: column;
        gap: 20px;
    }

    .BildeContent2 img {
        height: auto;
        /*gjør at et element blir så høyt som nødvendig for å passe innholdet, som er 600px.*/
        width: 100%;
    }

    .ButtonsContent2 {
        flex-direction: column;
        gap: 10px;
    }

    /*Content*/


    /*Produkter*/

    .produkter {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .ProduktRow {
        grid-template-columns: 1fr;
        /*Bestemmer antall og størrelsen på kolonner i en grid-container.
        1fr: Står for "1 fraction" og betyr at kolonnen tar opp all tilgjengelig plass.*/
        gap: 35px;
    }

    #Ad2 {
        width: 60%;
        margin: 20px auto;
        /*20px: Setter en margin på 20 piksler på toppen og bunnen av elementet.
        auto: Setter automatisk margin på venstre og høyre side,
         noe som gjør at elementet blir sentrert horisontalt i diven min.*/
    }

    .Sum {
        flex-direction: column;
        align-items: stretch;
        /*stretch: Gjør at elementene eller koden strekker seg for å fylle hele høyden på diven.
        Dette betyr at elementene i diven vil strekke seg vertikalt for å fylle opp hele høyden på diven!*/
    }

    .ProduktNavn2 {
        display: flex;
        justify-content: center;
    }

    .ProduktPris2 {
        display: flex;
        justify-content: center;
    }

    .ProductButtonWhite {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .ProductButton {
        display: flex;
        justify-content: center;
    }



    .Salg {
        margin-top: 30px;
    }


    /*Produkter*/

    .footer {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .footer a {
        margin-left: 0;
    }

    .column1,
    .column2 {
        margin: 0;
    }

    .container {
        flex-direction: column;
    }

    .Kasse {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .Sum {
        width: 90%;
        margin: 20px auto;
    }

    .Betaling {
        width: 90%;
        margin: 20px auto;
    }


    .Info,
    .Betalingsmåte {
        width: 100%;
        margin-left: 0;
        align-items: center;
    }

    .Info input {
        margin-left: 0;
    }

    .Info h1,
    .Info h2,
    .Info h3 {
        text-align: center;
        margin-left: 0;


    }

    .Info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .Betalingsmåte button {
        width: 80%;
    }

    .KasseInfo {
        display: none;
    }

    .KasseTop img {
        display: flex;
        justify-content: center;
        border: none;
    }



    .Kasse h1 {
        display: flex;
        justify-content: center;
    }

    .Sum {
        display: flex;
        justify-content: center;
        align-items: center;

    }

}